<header class="header">
	<nav class="navbar">
		<div class="navbar_grupo_container">
			<a href="https://www.facebook.com/groups/1434761676922023">
				<img class="header_banner" src="assets/Banner.jpeg" alt="Banner">
			</a>
		</div>
		<div class="navbar_nan_container">
			<div class="contenedor-icono">
				<a href="https://www.facebook.com/groups/1434761676922023">
					<mat-icon class="iconoFb">facebook
					</mat-icon>
					<span class="texto-iconoFb">
						Únete
					</span>
				</a>
			</div>
			<div class="by-nan">
				<div class="by-nan-texto">
					<a href="https://www.facebook.com/groups/1434761676922023/user/100001885244422">
						<p>by Nancy Nan</p>
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>