.sub-title,
.lista_family {
  font-family: 'Poppins';
}

.title {
  font-family: "Handlee", cursive !important;
  font-weight: 900;
  font-size: large;
}

.sub-title {
  font-weight: 500;
  font-size: medium;
}

mat-expansion-panel-header {
  & span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.rotated,
.normal {
  transition: transform 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  text-align: center;
}

.rotated {
  transform: rotate(180deg);
}

.normal {
  transform: rotate(0deg);
}

.lista_family {
  list-style: none;
  padding-left: 10px;
  font-weight: 400;
  line-height: 1.5;
}

.img_body {
  height: auto;
  max-width: 300px;
  object-fit: fill;
  margin: 0;
  border-radius: 3%;
}
