footer {
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  text-align: center;
}

.text-footer{
  font-family: 'Poppins';
  font-style: italic;
  color: #673ab7;
  font-size: 14px;
}

