/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  font-family: "Rubik", sans-serif;
  color: #000;
  background-repeat: no-repeat;
  background: rgb(209, 195, 233);

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 5px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Poppins", sans-serif;
}
